<p>Hey there <%= @user.name %>,</p>

<p>Your email notifications have been set!</p>

<p>Head back to <%= link_to "The Daily Habit", edit_user_url(@user) %> to stay on track!</p>

<p>Good luck,<br>The Team at The Daily Habit</p>