<p>Hi <%= @user.po_email %>,</p>

<p><%= @user.name %> did not complete the daily goals.</p>

<p>Check out their <%= link_to "goals", user_url(@user, :host => 'https://thedailyhabit.herokuapp.com') %> to see which ones they didn't complete. Then pester away!!!</p>




