<p>We've got some bad news for you, <%= @user.po_email %>.</p>

<p>Your friend <%= @user.name %> did not complete their daily goals.</p>

<p>Get in touch ASAP to help them stay on track!</p>

<p>Good luck,<br>The Team at The Daily Habit</p>




