<!-- edits user info posts to user DB -->


<h1 class="text-center">Edit Your Settings</h1>


<!-- User should be able to input/change -->
<!-- 1) notification setttings
add phone, add email, neg/pos reinforcement
location (stretch, sunrise, sunset)-->

<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <h3 class="text-center">Enter your 10-digit phone number and opt in to text messages</h3>
    <%= bootstrap_form_for @user do |f| %>
    <div class="row">
      <%= f.text_field :phone,hide_label: "Enter a phone number and opt in to text messages",placeholder: @user.phone ? @user.phone : "Enter your phone number" %>
      <h3 class="text-center">&nbsp&nbsp&nbspAdd an email of someone you want to receive an email if you don't complete your goals</h3>
      <%= f.text_field :po_email, hide_label: "Add an email of someone you want to receive an email if you don't complete your goals",  placeholder: "Add an email" %>
    </div>
    <div class="text-center">
      <%= f.submit "Submit", :class=> "btn btn-primary" %>
    </div>
    <br><br>
    <% end %>
  </div>
</div>