<!-- about  -->


<div class="container">

  <div class="row text-center">
    <h2>The team behind The Daily Habit</h2>
    <h3><p class="lead">Nine weeks in to General Assembly's Web Development Immersive, three devs came together to bring The Daily Habit to the world.</p></h3>
  </div>
  <br>
  <div class="row">
    <div class="team">
    <div class="col-md-6 col-sm-6">

        <div class="media">
          <div class="pull-left">
            <%= image_tag "dh annie 200.jpg" %>
          </div>
          <div class="media-body">
            <h4>Annie McGhee</h4>
            <h3>Co-Project Manager</h3>

            <ul class="social_icons">
              <li><a href="https://github.com/anniemcghee" target="_blank"><i class="fa fa-github"></i></a></li>
              <li><a href="https://linkedin.com/in/anniemcghee" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            </ul>
            <h3><p><em>Annie loves a good white board sesh.</em></p></h3>
          </div>
        </div><!--/.media -->

      </div><!--/.col-lg-4 -->


      <div class="col-md-6 col-sm-6">

        <div class="media">
          <div class="pull-left">
           <%= image_tag "dh brian 200.jpg" %>
         </div>
         <div class="media-body">
          <h4>Brian Van Winkle</h4>
          <h3>Git Master</h3>

          <ul class="social_icons">
            <li><a href="https://github.com/bivdub" target="_blank"><i class="fa fa-github"></i></a></li>
            <li><a href="https://www.linkedin.com/in/bivdub" target="_blank"><i class="fa fa-linkedin"></i></a></li>
          </ul>
          <h3><p><em>Brian made BFF's with OAuth and Active Record.</em></p></h3>
        </div>
      </div><!--/.media -->

    </div><!--/.col-lg-4 -->
  </div> <!--/.row -->
  <!-- SKILL LINE BREAK -->
  <div class="row">
  <div class="col-md-12 team-bar">
    <div class="first-one-arrow hidden-xs">
      <hr>
    </div>
    <div class="first-arrow hidden-xs">
      <hr> <i class="fa fa-angle-up"></i>
    </div>
    <div class="second-arrow hidden-xs">
      <hr> <i class="fa fa-angle-down"></i>
    </div>
    <div class="third-arrow hidden-xs">
      <hr> <i class="fa fa-angle-up"></i>
    </div>

  </div>
  </div>
</div>
  <!--skill_border-->
  <div class="row">
    <div class="team">
    <div class="col-md-6 col-md-offset-3 col-sm-6 ">

      <div class="media">
        <div class="pull-left">
          <%= image_tag "dh sanda 200.jpg" %>
        </div>

        <div class="media-body">
          <h4>Sanda Htyte</h4>
          <h3>Co-Project Manager</h3>

          <ul class="social_icons">
            <li><a href="https://github.com/bksanda" target="_blank"><i class="fa fa-github"></i></a></li>
            <li><a href="https://www.linkedin.com/in/sandahtyte" target="_blank"><i class="fa fa-linkedin"></i></a></li>
          </ul>
          <h3><p><em>Sendgrid and Morris Charts bow to Sanda.</em></p></h3>
        </div>
      </div><!--/.media -->
    </div>


  </div>
</div>
</div>
<br>