<!-- about  -->

      <div class="team">
        <div class="center">
          <h2>The team behind The Daily Habit</h2>
          <p class="lead">Nine weeks in to General Assembly's Web Development Immersive, four devs came together to bring The Daily Habit to the world. <br> Now they are in serious debt because the app got so popular and Twilio keeps billing them. </p>
        </div>
<div class="container">
        <div class="row clearfix">
          <div class="col-md-4 col-sm-6">

              <div class="media">
                <div class="pull-left">
                  <a href="#"><img class="media-object" src="http://i.imgur.com/aYEXWnA.png" alt=""></a>
                </div>
                <div class="media-body">
                  <h4>Annie McGhee</h4>
                  <h3>Project Manager / White Board Ninja</h3>

                  <ul class="social_icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                </div>
              </div><!--/.media -->
              <p>Annie is a girl and this is her bio!</p>

          </div><!--/.col-lg-4 -->


          <div class="col-md-4 col-sm-6 col-md-offset-2">

              <div class="media">
                <div class="pull-left">
                  <a href="#"><img class="media-object" src="http://i.imgur.com/aYEXWnA.png" alt=""></a>
                </div>
                <div class="media-body">
                  <h4>B Dub</h4>
                  <h3>Git Master / Stats Master</h3>

                  <ul class="social_icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                </div>
              </div><!--/.media -->
              <p>Brian is a guy and he's the best!</p>

          </div><!--/.col-lg-4 -->
        </div> <!--/.row -->
        <!-- SKILL LINE BREAK -->
        <div class="row team-bar">
          <div class="first-one-arrow hidden-xs">
            <hr>
          </div>
          <div class="first-arrow hidden-xs">
            <hr> <i class="fa fa-angle-up"></i>
          </div>
          <div class="second-arrow hidden-xs">
            <hr> <i class="fa fa-angle-down"></i>
          </div>
          <div class="third-arrow hidden-xs">
            <hr> <i class="fa fa-angle-up"></i>
          </div>
          <div class="fourth-arrow hidden-xs">
            <hr> <i class="fa fa-angle-down"></i>
          </div>
        </div>
        <!--skill_border-->

        <div class="row clearfix">
          <div class="col-md-4 col-sm-6 col-md-offset-2">

              <div class="media">
                <div class="pull-left">
                  <a href="#"><img class="media-object" src="http://i.imgur.com/aYEXWnA.png" alt=""></a>
                </div>

                <div class="media-body">
                  <h4>Sanda Htyte</h4>
                  <h3>Project Manager / Trello Ninja</h3>

                  <ul class="social_icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                </div>
              </div><!--/.media -->
              <p>Sanda is the UXPin queen.</p>
            </div>

          <div class="col-md-4 col-sm-6 col-md-offset-2">
              <div class="media">
                <div class="pull-left">
                  <a href="#"><img class="media-object" src="http://i.imgur.com/aYEXWnA.png" alt=""></a>
                </div>
                <div class="media-body">
                  <h4>Jordan Ball</h4>
                  <h3>The Lawyer</h3>
                  <ul class="social_icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                </div>
              </div><!--/.media -->
              <p>Jordan!</p>
            </div>
            </div>
            <br>
</div>