<!-- what the app is / how to use it / directs to signup -->

<section id="main-slider" class="no-margin">
        <div class="carousel slide">
            <div class="carousel-inner">

                <div class="item active" style="background-image: url(http://i.imgur.com/kXmSBO1.jpg)">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">Set a daily goal - big or small</h1>
                                    <hr>
                                    <h1 class="animation animated-item-2">We'll remind you & track your progress</h1>
                                    <hr>
                                    <h1 class="animation animated-item-3">New you.</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->


