<!-- what the app is / how to use it / directs to signup site#index-->

<section id="main-slider" class="no-margin">
  <div class="carousel slide">
    <div class="carousel-inner">

      <div class="item active">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <div class="carousel-content">
                <h1 class="animation animated-item-1">Set a daily goal.</h1>
                <hr>
                <h1 class="animation animated-item-2">We'll remind you & track your progress</h1>
                <hr>
                <h1 class="animation animated-item-3">New you.</h1>
              </div>
            </div>
          </div>
        </div>
      </div><!--/.item-->
    </div>
  </div>
</section>



