<!-- what the app is / how to use it / directs to signup site#index-->

<div class="row text-center">
<br>
  <div class="col-xs-6 col-md-6">
    <h1>Set a daily goal.</h1>
    <hr>
    <h1>We'll remind you <br> and track your progress</h1>
    <hr>
    <h1>New you.</h1>
  </div>
  <div class="col-xs-6 col-md-6">
    <img src="http://i.imgur.com/n5SKVdL.png">
  </div>
</div>
<br>


