/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*SITE BACKGROUND FOR MVP: #232425
ALL NON-HEADER TEXT COLOR FOR MVP: #ffffff

Additional color palette options for now:
deep pink: #620032
navy: #072759
golden: #EC9A0A
green: #4F7D00

don't worry - these are going to be laid out over gradients and translucent
containers so they won't look shitty

data visualization color palette:

fuchsia: #940A50
bright green: #8DDA09
gold: #FFAE20
sky blue: #2358AD

site color palette:


fonts:
font-family: 'Stint Ultra Condensed', cursive;
font-family: 'Pontano Sans', sans-serif;*/
