
body {
  background-color: #E6E6E6;
}

.container2 {
  width: 100%;
  text-align: center;
}


h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: 'Pontano Sans', sans-serif;
  color:#4e4e4e;
}

h1{
  font-family: 'Stint Ultra Condensed', cursive;
  /*font-family: 'Knewave', cursive;*/
  font-size: 60px;
  font-style: bold;
}

h2{
  font-size: 20px;
  font-weight: 600;
  font-family: 'Pontano Sans', sans-serif;
  color:#4e4e4e
}

h3{
  font-size: 16px;
  color: #14141F;
  font-weight: 400;
  line-height: 24px;
}

h4{
  font-size: 16px;
}

h5 {
  font-family: 'Pontano Sans', sans-serif;
  color: #ffffff;
  font-size: 8px;
}


.btn-primary:hover {
  background-color: #999888;
  border-style: none;
}

.btn-primary:focus {
  background-color: #03A678;
}

.btn-primary {
  background-color: #999999;
  border-style: none;
}

.flash {
  /*css_formatting_here*/
}

/*.navbar-default .navbar-nav>li>a {
  color: #232425;
}*/

a {
  color: #96281B;
}

a:hover {
  text-decoration: none;
  color: #96281B;
}


/*FROM THE TEMPLATE:*/

.navbar>.container .navbar-brand{
  margin-left: 0;
}

.navbar-brand {
  padding: 0;
  margin:0;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
  background: #151515;
  padding: 15px 0;
  padding-bottom: 0;
}

 .navbar-nav{
  margin-top: 12px;
 }

.navbar-nav>li{
  margin-left: 35px;
  padding-bottom: 28px;
}

.navbar-inverse .navbar-nav > li > a {
  padding: 5px 12px;
  margin: 0;
  border-radius: 3px;
  color: #fff;
  line-height: 24px;
  display: inline-block;
}

.navbar-inverse .navbar-nav > li > a:hover{
  color: #EC9A0A;
}

.navbar-inverse {
  border: none;
}

.navbar-inverse .navbar-brand {
  font-size: 36px;
  line-height: 50px;
  color: #fff;
}




.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-top: 0;
  padding-bottom: 0;
}


/*INDEX PAGE*/
#main-slider {
  position: relative;
}

.no-margin {
  margin: 0;
  padding: 0;
}

#main-slider .carousel .carousel-content {
  margin-top: 150px;
}

#main-slider .carousel .slide-margin{
  margin-top: 140px;
}

#main-slider .carousel h2 {
  color: #fff;
}

#main-slider .carousel .btn-slide {
  padding: 8px 20px;
  background: #c52d2f;
  color: #fff;
  border-radius: 4px;
  margin-top: 25px;
  display: inline-block;
}

#main-slider .carousel .slider-img{
  text-align: right;
  position: absolute;
}


#main-slider .carousel .item {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0 !important;
  opacity: 0;
  top: 0;
  position: absolute;
  width: 100%;
  display: block !important;
  height: 730px;
  -webkit-transition: opacity ease-in-out 500ms;
  -moz-transition: opacity ease-in-out 500ms;
  -o-transition: opacity ease-in-out 500ms;
  transition: opacity ease-in-out 500ms;
}

#main-slider .carousel .item:first-child {
  top: auto;
  position: relative;
}

#main-slider .carousel .item.active {
  opacity: 1;
  -webkit-transition: opacity ease-in-out 500ms;
  -moz-transition: opacity ease-in-out 500ms;
  -o-transition: opacity ease-in-out 500ms;
  transition: opacity ease-in-out 500ms;
  z-index: 1;
}

/*ABOUT PAGE*/

.center {
  text-align: center;
  padding-bottom: 55px;
}


.lead{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}


.skill-wrap {
  display: block;
  overflow: hidden;
  margin: 60px 0;
}

.team h4 {
  margin-top: 0;
  text-transform: uppercase;
}

.team h5 {
  font-weight: 300;
}

.single-profile-top,
.single-profile-bottom {
  font-weight: 400;
  line-height: 24px;
}

.single-profile-top,
.single-profile-bottom  {
  border: 1px solid #ddd;
  padding: 15px;
  position: relative;
}

.media_image {
  margin-bottom: 10px;
}

.team .btn {
  background:transparent;
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 3px;
  padding: 1px 5px;
  text-transform: uppercase;
  border:1px solid#ddd;
  margin-right: 3px;
}


ul.social_icons,
ul.tag {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  display: block;
}

ul.social_icons li,
ul.tag li {
  display: inline-block;
  margin-right: 5px;
}

ul.social_icons li  a i{
  border-radius: 50%;
  color: #FFFFFF;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  padding: 0;
  text-align: center;
  width: 25px;
  opacity:.8;
}


.team .social_icons .fa-github:hover,
.team .social_icons .fa-twitter:hover,
.team .social_icons .fa-linkedin:hover {
  transform: rotate(360deg);
  -ms-transform:rotate(360deg);
  -webkit-transform:rotate(360deg);
  transition-duration:2s;
  transition-property: all;
  transition-timing-function: ease;
  opacity:1;
  transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
}

.team .social_icons .fa-github {
  background: #0182c4;
}

.team .social_icons .fa-twitter {
  background: #20B8FF
}

.team .social_icons .fa-linkedin {
  background: #D34836
}


.team-bar .first-one-arrow {
  float: left;
  margin-right: 30px;
  width: 0%;
}

.team-bar .first-arrow {
  float: left;
  margin-left: 5px;
  margin-right: 35px;
  width: 25%;
}

.team-bar .second-arrow {
  float: left;
  margin-left: 5px;
  width: 25%;
}

.team-bar .third-arrow {
  float: left;
  margin-left: 40px;
/*  margin-right: 12px;*/
  width: 25%;
}

/*.team-bar .fourth-arrow {
  float: left;
  margin-left: 25px;
  width: 20%;
}*/

.team-bar .first-one-arrow hr {
  border-bottom: 1px solid #2D7DA4;
  border-top: 1px solid #2D7DA4;
 }

.team-bar .first-arrow hr {
  border-bottom: 1px solid #2D7DA4;
  border-top: 1px solid #2D7DA4;
 }

.team-bar .second-arrow hr {
  border-bottom: 1px solid #6aa42f;
  border-top: 1px solid #6aa42f;
}

.team-bar .third-arrow hr {
  border-bottom: 1px solid #FFBD20;
  border-top: 1px solid #FFBD20;

}

/*.team-bar .fourth-arrow hr {
  border-bottom: 1px solid #db3615;
  border-top: 1px solid #db3615;
}*/

.team-bar {
  margin-bottom: 15px;
  margin-top: 30px;
  position: relative;
}

.team-bar i {
  border-radius: 50%;
  color: #FFFFFF;
  display: block;
  height: 24px;
  line-height: 24px;
  margin-top: -32px;
  overflow: hidden;
  padding: 0;
  text-align: center;
  width: 24px;
  position: absolute;
}

.team-bar .first-arrow .fa-angle-up {
  background:#2D7DA4;
  margin-left:-33px
 }

.team-bar .second-arrow .fa-angle-down {
  background:#6AA42F;
  margin-left: -33px;
}

.team-bar .third-arrow .fa-angle-up {
  background:#FFBD20;
  margin-left: -32px;
}

/*.team-bar .fourth-arrow .fa-angle-down {
  background:#db3615;
  margin-left: -32px;
}*/


/*FOOTER*/
#footer {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
  background: #2e2e2e;
}

#footer a {
  color: #fff;
}

#footer a:hover {
  color: #EC9A0A;
}

#footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer ul > li {
  display: inline-block;
}

td {
  vertical-align: middle;
  /*border-style: 1px solid black;*/
}

/*table {
  background: #A3DADA;
}*/
/*div {
  border: 1px solid pink;
}
*/

td {
  vertical-align: middle !important;
}