<% if @current_user %>

    <header id="header">

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img src="http://i.imgur.com/tNVlyfm.png"></a>
                </div>

                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                       <li><a href='/users/<%= @current_user.id %>'><h2>My Profile</h2></a><span class="sr-only">(current)</span></li>
                        <li><a href="/users/<%= @current_user.id %>/goals"><h2>Update Goals</h2><span class="sr-only"></span></a></li>
                        <li><a href="/logout"><h2>Logout</h2><span class="sr-only"></span></a></li>folio</a></li>
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->

    </header>

<%= yield %>

<div class="container">
  <div class="footer">
  </div>
</div>
</div>
</body>
</html>

<% else %>

    <header id="header">

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img src="http://i.imgur.com/tNVlyfm.png"></a>
                </div>

                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                       <li><a href="/login"><h2>Login</h2><span class="sr-only">(current)</span></a></li>
                        <li><a href="/signup"><h2>Signup</h2><span class="sr-only">(current)</span></a></li>
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->

    </header>

<%= yield %>

<div class="container">
  <div class="footer text-center">
      <a href="/about"><h2>About The Daily Habit</h2><span class="sr-only"></span></a>
  </div>
</div>
</div>
</body>
</html>

<% end %>